/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.pnotify.default
 *= require bootstrap-datepicker
 *= require select2
 *= require select2_bootstrap
 *= require jquery.atwho
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 */
body {
  padding-top: 45px;
  padding-bottom: 80px;
}

.notification-link {
  color: #ffffff;
  text-decoration: none;
}

.select2-container {
  margin-top: -10px;
}

.hr {
  height: 3px;
  border: none;
  border-top: 1px double #CC3300;
}

.has-border {
  border: 1px solid #CCCCCC;
}

.bg-color-f5 {
  background-color: #F5F5F5;
}

.inline {
  display: inline
}

site-title {
  font-family: 'Lily Script One', cursive;
  font-size: 130%;
  color: #0099FF;
}

site-copyright {
  font-family: 'Lily Script One', cursive;
}

.input-500 {
  width: 500px;
}

.input-block {
  width: 98%;
}

.nearly-block {
  width: 80%;
}

//QR Code
.qr-table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
.qr-td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 3px;
  height: 3px;
}
.qr-td-black { background-color: #000; }
.qr-td-white { background-color: #fff; }

@import "bootstrap";